
body{
    background-image: linear-gradient( #00AAFFA5, #FFFFFF);

}

.top__menu{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    height: auto;
    margin: 15px;
    border-radius: 10px;
    background-color: #fffffff3;
    padding: 10px;
    box-shadow: 1px 1px 10px 5px #FFFFFF;
}

a{
    text-decoration:none;
}

.top__menu .logo__img a h2{
    text-transform: uppercase;
    color: black;
    font-weight: 650;
    transition: 0.5s;
}

.top__menu .logo__img a h2:hover{
    color: #6A439D;
}

.top__menu .logo__img a h2 span{
    color: #F76804;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.buttons_left a {
    color: #2A68A2;
    font-weight: 600;
    font-size: 20px;
    margin-right: 20px;
}

.buttons_left a:hover{
    color: #F76804 ;
    font-weight: 650;
    background: none;
    text-decoration: underline;
    transition: .3s;
}

.buttons_left{
    margin-top: 10px;
}

.logo__img {
    margin-top: 10px;
}
.buttons_left .kabinet__ img{
    width: 40px;
    height: 40px;
    border: 2px solid  #2A68A2;
    border-radius: 50%;
    padding: 3px;
}

.buttons_left .kabinet__:hover{
    border-radius: 50%;
    box-shadow: 1px 1px 10px 15px #FFFFFF;
    transition: .5s ease-in-out;
}